<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/views/placeorder.js"></script>
 
</head>
<body>


    <div class="container mt-5 p-3 bg-secondary">
        
        <div class="row">
            <div class="col-md-3">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="text-center">Daily Sales Revenue</h4>
                            </div>
                            <div class="card-body">
                                <span id="revenue" class="text-success"></span>
                            </div>
                        </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header">
                        <h4 class="text-center">Famous Main Dish</h4>
                    </div>
                    <div class="card-body">
                        <div class="card-body">
                            <label for="">Dish :</label>
                            <span id="famousMainDish" class="text-success"></span>
                            <label for="">Count :</label>
                            <span id="mainDishCount" class="text-success"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header">
                        <h4 class="text-center">Famous Side Dish</h4>
                    </div>
                    <div class="card-body">
                        <label for="">Dish :</label>
                        <span id="famousSideDish" class="text-success"></span>
                        <label for="">Count :</label>
                        <span id="sideDishCount" class="text-success"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header">
                        <h4 class="text-center">Famous Combo</h4>
                    </div>
                    <div class="card-body">
                        <label for="">Main Dish :</label>
                        <span id="dishComboMain" class="text-success"></span>
                        <label for="">Side Dish :</label>
                        <span id="dishComboSide" class="text-success"></span>
                        <label for="">Count :</label>
                        <span id="dishCount" class="text-success"></span>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row" style="margin-top: 100px">
            <div class="col-md-4">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="text-center">Place order</h4>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="">Enter Order NO:</label>
                                    <input type="text" class="form-control" id="orderno" placeholder="Enter order no">
                                </div>
                                <div class="form-group">
                                    <label for="MainDish">Select Main Dish:</label>
                                    <select name="mainDishes" id="mainDishes">
                                        <option value='{"Id":"1","Price":"100"}'>Rice</option>
                                        <option value='{"Id":"2","Price":"20"}'>Rotty</option>
                                        <option value='{"Id":"3","Price":"150"}'>Noodles</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="SideDish">Select Side Dish:</label>
                                    <select name="sideDishes" id="sideDishes" multiple>
                                        <option value='{"Id":"4","Price":"45"}'>Wadai</option>
                                        <option value='{"Id":"5","Price":"75"}'>Dhal Curry</option>
                                        <option value='{"Id":"6","Price":"120"}'>Fish Curry</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="Desserts">Select Desserts:</label>
                                    <select name="desserts" id="desserts">
                                        <option value='{"Id":"4","Price":"40"}'>Watalappam</option>
                                        <option value='{"Id":"5","Price":"20"}'>Jelly</option>
                                        <option value='{"Id":"6","Price":"25"}'>Pudding</option>
                                    </select>
                                </div>
                
                                <div class="mt-3">
                                    <button class="btn btn-primary float-right" onclick="submitForm()">submit</button>
                                </div>
                                <div class="w-100">
                                    <span id="message" class="text-success"></span>
                                </div>
                            </div>
                        </div>
            </div>
     
            <div class="col-md-8">
                <table class="table table-bordered text-white text-center">
                    <thead>
                        <th>Order Number</th>
                        <th>Main Dish</th>
                        <th>Side Dishes</th>
                        <th>Desserts</th>
                    </thead>
                    <tbody id="tbData">
                        
                    </tbody>
                </table>
            </div>
        </div>


    </div>
    
    
</body>

</html>
